<!DOCTYPE html>
<html>
    <body>

        <h2>Deployemnt</h2>

        <form method="POST" action='/predict'>
            <label for="preg">Preg:</label><br>
            <input type="number" id="preg" name="preg" placeholder="preg" required='required'><br>
            <label for="plas">Plas:</label><br>
            <input type="number" id="plas" name="plas" placeholder="plas" required='required'><br>
            <label for="pres">Pres:</label><br>
            <input type="number" id="pres" name="pres" placeholder="pres" required='required'><br>
            <label for="skin">Skin:</label><br>
            <input type="number" id="skin" name="skin" placeholder="skin" required='required'><br>
            <label for="test">Test:</label><br>
            <input type="number" id="test" name="test" placeholder="test" required='required'><br>
            <label for="mass">Mass:</label><br>
            <input type="number" id="mass" name="mass" placeholder="mass" required='required'><br>
            <label for="pedi">Pedi:</label><br>
            <input type="number" id="pedi" name="pedi" placeholder="pedi" required='required'><br>
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" placeholder="age" required='required'><br><br>

            <button type="submit">Predict</button>
        </form>


    </body>
</html>
